services:
  backend:
    build:
      context: ./saasprojectbackend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - my-network

networks:
  my-network:
    driver: bridge